@import "tailwindcss";
@plugin "tailwind-scrollbar";


.custom-scroll::-webkit-scrollbar {
  width: 12px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #974ce0;
  border-radius: 9999px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: auto;
  scrollbar-color: #974ce0 transparent;
}